@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');

:root {
    --medium: 400;
    --regular: 500;
    --bold: 700;
    --background_color: #131415;
    --important_color: #f2cc8f;
    --default_color: #f4f1de;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--default_color);
}

body {
    font-family: "Montserrat", sans-serif;
    font-weight: var(--regular);
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* HEADER - NAV */

header {
    position: fixed;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    transition: transform 0.2s;
    nav {

        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px;

        p {
            font-size: 32px;
            color: var(--important_color);

            span {
                font-size: 28px;
                color: var(--important_color);
            }
        }

        .menu {

            .menu_ul {
                display: flex;
                gap: 20px;

                & :hover {
                    color: var(--important_color);
                }

            }

        }

    }

}

.hide_nav{
    transform: translateY(-79px);
}


/* MAIN - HERO SECTION */

.hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    flex-direction: column;
    background-image: url("./img/hero/nebula.png");
    box-shadow: 10px 10px 5px 473px rgb(0 0 0 / 38%) inset;

    .hero {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 20px;

        p {
            font-size: 30px;
        }

        h1 {
            color: var(--important_color);
            font-size: 42px;
        }

        .links {
            display: flex;
            font-size: 24px;
            gap: 10px;

            .btn-links:hover {
                color: var(--important_color);
            }

            button {
                border: none;
                background-color: var(--default_color);
                color: var(--background_color);
                font-weight: var(--bold);
                border-radius: 16px;
                padding: 2px 5px;
                cursor: pointer;
            }

        }
    }

}

/* ABOUT ME SECTION */

.aboutme_section {
    background-color: var(--background_color);
    padding: 80px;

    .aboutme_info {

        display: flex;
        justify-content: center;
        flex-direction: column;
        padding: 40px 100px;
        box-shadow: -2px 2px 32px 0px rgba(0,0,0,0.83);

        h2 {
            font-size: 40px;
            color: var(--important_color);
        }

        .info {
            display: flex;
            align-items: center;
            justify-content: center;
            p{
                font-size: 20px;
                margin-right: 100px;
                text-align: justify;
            }
            img{
                width: auto;
                height: 400px;
            }
        }
    }

}

/* MY CERTIFICATES */
.mycertificates_section{
    width: 100vw;
    height: 100vh;
    background-color: var(--background_color);
    color: var(--default_color);
}
/* MY HABILITES */
.myhabilities_section{
    width: 100vw;
    height: 100vh;
    background-color: var(--background_color);
    color: var(--default_color);
}
/* PROJECTS*/
.projects_section{
    width: 100vw;
    height: 100vh;
    background-color: var(--background_color);
    color: var(--default_color);
}